body{
    
    display:grid;
    justify-content: center;
    

}
.h2{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(8, 124, 124);
}
#numeros{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    
}
.botones{
    width: 60px;
    height: 60px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;

}
.teclado{
    color: rgb(148, 129, 93);
    display: grid;
    width: 350px;
    grid-template-columns: repeat(2,2fr);
    max-width: 100%;
    margin: 20px auto;
    padding: 12px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
}
#enter{

}
#codigoInput{
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}